.consoleContainer {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 15%;
  min-height: 100vh;
}

.consoleContainer .imgContainer {
  max-width: 200px;
  justify-content: center;
  margin: 0;
}
.consoleContainer .imgContainer img {
  position: relative;
  max-width: 100%;
  /* left: -300px; */
}

.links ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.links ul li {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links ul button {
  margin-top: 38em;
}

.links ul li:hover {
  border: 1px solid red;
}
